{{#each rois as |roi|}}
  {{#each subRows as |sfreq index|}}
    <tr class="{{if roi.active "negative"}}">
    {{#if (eq index 0)}}
      {{#each singleCols as |scol|}}
      <td rowspan="{{condition.sfrequencies.length}}">{{get roi scol.valuePath}}</td>
      {{/each}}
    {{/if}}
    <td>{{sfreq}}</td>
    {{#each multipleCols as |mcol|}}
      {{#each (get roi mcol.relPath) as |rel relIndex|}}
        {{#if (eq index relIndex)}}
          <td>{{get rel mcol.valuePath}}</td>
        {{/if}}
      {{/each}}
    {{/each}}
    </tr>
  {{/each}}
{{/each}}
