<section>
  {{#link-to 'index'}}
    <h3 class="ui left floated inverted header app-info">
      PACU
    </h3>
  {{/link-to}}
  {{#ui-popup content="Toggle Fullscreen" tagName="span"}}
    <div class="left floated nav circular ui small icon button" {{action "toggleFullscreen"}}>
      <i class="{{if fullscreen.isEnabled "compress" "expand"}} large icon"></i>
    </div>
  {{/ui-popup}}
  {{#each model.routes as |route|}}
    {{#ui-popup content=route.content tagName="span"}}
      {{#link-to route.linkTo class="left floated nav circular ui small icon blue button"}}
        <i class="{{route.icon}} retro {{route.color}} large icon"></i>
      {{/link-to}}
    {{/ui-popup}}
  {{/each}}
  <h3 class="ui left floated inverted header app-info">
      v2.1.6
  </h3>
  <h6 class="ui right floated inverted tiny header teal app-info">
    {{currentPath}}
  </h6>
</section>

<section class="ui clearing divider"></section> {{! clearing is useful. }}
<section>
  {{outlet}}
</section>

<section class="ui divider"></section>
<section id="copyright">
  <p>&copy;2015, 2016 Gandhi Lab</p>
  <p>The Department of Neurobiology and Behavior</p>
  <p>University of California, Irvine</p>
  <p><a href="mailto:hyungtk@uci.edu"><i class="none"></i></a></p>
</section>
